.bo {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin-left: 100px;
    margin-right: 10px;
}

.thehr {
    width: 90%;
    margin-left: 5%;
}

.daubo {
    margin-left: 20px;
}

.daubo h2 {
    padding-top: 20px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px;
}

.con-container {
    flex-direction: row !important;
    background-color: #c8c6c6;
    display: flex;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
}

.bentrai {
    width: 100%;
    text-align: center;
}

.bentrai .post-image {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}

.benphai {
    display: none;
    /* Hide initially */
}

/* Style cho ngày đăng */
.ngaydang {
    color: #777;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .con-container {
        flex-direction: column;
    }

    .bentrai .post-image {
        width: 100%;
        height: auto;
    }

    .ngaydang {
        display: none;
    }
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}